h3{
    text-decoration: underline;
background-color: aqua;
}
h2{
    background-color: blueviolet;
}
#span1 {color: white;
}
#span2 {color: aqua; 
}
h1{
    background-color: black;
}
h2{
    text-align: center;
}
h3{
    text-align: right;
}